# .gitignore for Aura (macOS)

## Xcode
build/
DerivedData/
*.hmap
*.ipa
*.dSYM.zip
*.dSYM

## Swift Package Manager
.build/
.swiftpm/
Packages/

## User-specific files
*.xcodeproj/project.xcworkspace/xcshareddata/
*.xcodeproj/project.xcworkspace/xcuserdata/
*.xcodeproj/xcuserdata/
*.xcworkspace/xcshareddata/
*.xcworkspace/xcuserdata/

# Local settings
.DS_Store